<footer class="bg-dark py-5">
    <!-- Footer content goes here -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <figure class="d-flex align-items-center">
                    <img src="/dist/img/logo-footer.png" alt="Katrina Schwark" />
                    <figcaption>Web Design &amp; Development</figcaption>
                </figure>
                <small>&copy;<span id="copyYear"></span> Katrina Schwark Web Development<br />All rights reserved.</small>
            </div>
            <div class="col-12 col-md-5 col-lg-3 offset-lg-1">
                <p class="lead"><strong>Contact</strong></p>
                <ul class="fa-ul ml-4">
                  <li class="mb-2"><a href="mailto:hello@katrinaschwark.com"><span class="fa-li"><i class="far fa-envelope-open"></i></span>hello@katrinaschwark.com</a></li>
                  <li><a href="http://www.katrinaschwark.com"><span class="fa-li"><i class="far fa-browser"></i></span>www.katrinaschwark.com</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3 col-lg-2 offset-lg-1">
                <p class="lead"><strong>Links</strong></p>
                <ul class="list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="work-with-me.html">Work With Me</a></li>
                    <li><a href="maintenance.html">Maintenance</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/dist/js/main.js"></script>
