<!-- Mobile Navigation -->
<nav class="sticky-top d-md-none mobile-navigation">
    <div class="d-flex px-3 top-navigation">
        <a class="navbar-brand" href="index.html"><img src="/dist/img/logo-mobile.png" alt="Katrina Schwark Web Development" class="img-fluid" /><span class="sr-only">Katrina Schwark Web Development</span></a>
        <button class="hamburger hamburger--collapse ml-auto" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    </div>
    <div class="off-canvas py-5">
            <ul class="navbar-nav text-center w-100">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="work-with-me.html">Work with me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="maintenance.html">Maintenance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
</nav>

<!-- Desktop Navigation -->
<nav class="navbar navbar-expand-md bg-transparent d-none d-md-flex">
    <a class="navbar-brand" href="index.html"><img src="/dist/img/logo.png" alt="Katrina Schwark Web Development" class="img-fluid" /><span class="text-white d-md-none d-lg-inline-block">| Web Design &amp; Development</span></a>

    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="work-with-me.html">Work with me</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="maintenance.html">Maintenance</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>
